/* basic setups */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald','sans-serif';
}

li{
    list-style: none;
    display: inline-block;
    
}

a{
    text-decoration: none;
}

.container {
    max-width: 1400;
    margin: 0 auto;
    background-color: #fff;
}

/* HEADER */

body {
    background-color: #2c3e56
}

header h1 {
    text-align:center;
    color: #2c3e56;
    padding: 20px 0px;
    
}

header h1 span {
    color:#e74c3c
}

.nav-menu {
    text-align: center;
    text-transform: uppercase;
    background-color: #fafafa
}

.nav-menu a {
    color: #2c3e56;
    
}

.nav-menu a:hover{
    color:#e74c3c;
}
.nav-menu li {
    padding: 20px;
}

/* ABOUT TEXT  */

.about-text {
    padding: 0px 50px;
}

.about-text h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    color: #e74c3c;
    margin:30px 0px;
}

.about-text p{
    font-weight: 400;
    color: #2c3e56;
    /*font-size: 15px;*/
    margin-bottom: 10px;
}

.about-text a{
    color:#e74c3c;
    font-weight: 700;
}
.about-text a:hover{
    color:#2c3e56;
}

/* SHOW FOOD */
.show-food{
    margin-top: 80px;
    padding: 0px 50px;
}

.food{
    background-color: #2c3e56;
    margin-bottom: 30px;
    width:100%;
    display: flex;
    color:#fff;
}
.food:nth-child(2){
    background-color:#e74c3c;
}
.food .food-text{
    padding: 20px;
}
.food .food-text h2 {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}
.food .food-text p{
    font-weight: 300;
    font-size: 15px;
}
.food img{
    height: 100%;
    
}
.food-text p{
    font-weight: 700;
    font-size:16px;
}
 /* BIG IMAGE */

.big-image{
    width: 80%;
    margin: auto;
}

.bif-image img{
    width:100%;
}

/* FOOTER */

footer{
    background-color:#e74c3c;
    text-align: center;
    color:#fff;
    font-weight: 300;
    padding:15px;
    font-size: 18px;
}


